In [1]:
import sys
import os

import pandas as pd
%matplotlib inline
import urllib.request

In [2]:
try:
    import KustoPandas
except:
    sys.path.insert(0, os.path.abspath(os.path.join(os.path.abspath(""), '..')))
    import KustoPandas
from KustoPandas import Wrap

Get a sample dataset and import it as a Pandas DataFrame

In [3]:
def dowload_dataset_if_necessary(url, filename):
    if not os.path.exists(filename):
        urllib.request.urlretrieve (url, filename)
url = "https://projects.fivethirtyeight.com/trump-approval-data/approval_polllist.csv"
filename = "approval_polllist.csv"
dowload_dataset_if_necessary(url, filename)
data = pd.read_csv(filename, parse_dates=["modeldate", "startdate", "enddate"])

wrap it using KustoPandas

In [4]:
w = Wrap(data)

Now we can start to explore it using KustoPandas commands.  

Lets start with something simple and just look at a few lines.

The corresponding kusto command would be 

```
w | take 5
```

Python doesn't support `\`, so instead we use `.`

In [5]:
w.take(5)

Notice that the output is a nicely formatted table.  That is becuase KustoPandas is just a shallow wrapper around a pandas dataframe.  Pandas is doing the hard work of formatting it nicely in jupyter

Lets explore the data a bit more using the summarize operator.  Here is the Kusto command

```
w | summarize count(), min(startdate), max(startdate), dcount(pollster), AverageDisapproval = avg(disapprove)"
```

The way we execute this in python is that the top level kusto operator (summarize) is a class method. All arguments are passed to the method as a string

In [6]:
w.summarize("count(), min(startdate), max(startdate), dcount(pollster), AverageDisapproval = avg(disapprove)")

Similarly we can use the `where` operator to do filtering.  The Kusto query would be

```
w | where grade in ("A", "B")
```

Again (and this is always the case) the top level operator `where` is the class method and the rest of the arguments are passed as a string.

But the output of the above would be too long, so lets chain operators together

```
w | where grade in ("A", "B") | summarize count() by grade, pollster
```

In [7]:
w.where("grade in ('A', 'B')").summarize("count(), avg(disapprove) by grade, pollster")

KustoPandas fully supports arbitrary mathematical expressions, just like kusto

w.extend("NewWeight = exp(weight - 4) * 0.5").summarize("min(NewWeight), max(NewWeight), avg(NewWeight)")

It also supports kusto's nice syntax for binning time values

In [9]:
w.summarize("count() by bin(startdate, 1d)").take(5)

Notice that all the above commands leave `w` unchanged.  In fact that will always be true.  All operations will leave `w` unchanged and return a new instance of the `Wrap` class wrapping a new instance of a Pandas DataFrame.  This is generally the behavior that pandas follows as well, and Pandas makes it easy to do this without duplicating the data inside the dataframe.

If you want to save the output of a calculation, you can do just that

In [11]:
A_rated = w.where("grade == 'A'")
print("number of polls with grade A")
print(A_rated.count())
print("total number of polls")
print(w.count())

number of polls with grade A
   Count
0     75
total number of polls
   Count
0  14151

There are some things that are easier to do in python and Pandas than with kusto, so KustoPandas provides easy access to to the underlying dataframe using `w.df`

For example, we can format the output in the above expression more nicely by accessing the dataframe directly

In [20]:
print("number of polls with grade A: ", A_rated.df.shape[0])
print("total number of polls:        ", w.df.shape[0])

number of polls with grade A:  75
total number of polls:         14151

Of couse the above example is a bit contrived and the info can be written more succinctly using summarize

In [21]:
w.summarize("TotalNumberOfPolls=count(), NumberOfPollsWithGradeA = countif(grade == 'A')")